<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nickivy.slugfood"
    android:versionCode="2"
    android:versionName="1.1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/MainThemeColorful" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreferencesActivity"
            android:label="@string/about"
            android:parentActivityName="com.nickivy.slugfood.MainActivity">
            <!-- Include metadata for ICS compatibility -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nickivy.slugfood.MainActivity" />
        </activity>
        <activity
            android:name=".NutritionWebpageActivity"
            android:label="@string/nutinfo"
            android:parentActivityName="com.nickivy.slugfood.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nickivy.slugfood.MainActivity" />
        </activity>

        <receiver android:name=".widget.MenuWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/menu_widget_info" />
        </receiver>

        <service android:name="com.nickivy.slugfood.widget.WidgetService"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

    </application>

</manifest>
